body {
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside {
  padding-left: 6px;
  justify-content: flex-end;
}

a.ivy {
  text-decoration: none;
  color: #6D942F;
}

/** Drop-down menu */
nav {
	height: 2em;
	color: white;
	background-color: rgb(157, 196, 95);
	line-height: 2em;
	padding-left: 1em;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

nav.menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

nav.menu ul li {
  display: block;
}

nav.menu ul li ul {
  display: none;
  border: 1px solid black;
  margin: 0;
  padding: 2px;
	background-color: rgb(248, 248, 248);

	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow:    2px 2px 4px #ccc;
	box-shadow:         2px 2px 4px #ccc;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

nav.menu ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #333333;
}

nav.menu ul li:hover ul {
  display: block;
  position: absolute;
}

nav.menu ul li:hover li {
  float: none;
}

nav.menu ul li:hover li a:hover {
	background-color: rgb(157, 196, 95);
}

/** Settings */
form.ivy {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  background-color: rgb(248, 248, 248);
  padding-bottom: 6px;
}

form.ivy fieldset,
form.ivy p {
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}

form.ivy fieldset {
  border: none;
}

form.ivy h1 {
  font: 24px sans-serif;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom:1px solid #89AF4C;
  color: white;
  background-color: #9DC45F;
  text-shadow: 1px 1px 1px #949494;

  -webkit-border-radius: 4px 4px 4px 0px;
  -moz-border-radius:    4px 4px 0px 0px;
  border-radius:         4px 4px 0px 0px;
}

form.ivy label {
  width: 96px;
  display: inline-block;
}

form.ivy input, form.ivy textarea, form.ivy select {
  color: #555;
  width: 168px;
  height: 24px;
  border: 1px solid #E5E5E5;
  background-color: #FBFBFB;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
}

form.ivy input[type="submit"] {
  background-color: #9DC45F;
  border: none;
  padding: 6px 6px 6px 6px;
  color: #FFF;
  text-shadow: 1px 1px 1px #949494;
  width: 65px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

form.ivy input[type="submit"]:hover {
  background-color:#80A24A;
}

