body {
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

aside {
  padding-left: 6px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #6D942F;
}

/** Hot key styles */
kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

form.ivy {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  background: rgb(248, 248, 248);
  padding-bottom: 6px;
}

form.ivy fieldset,
form.ivy p {
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
}

form.ivy fieldset {
  border: none;
}

form.ivy h1 {
  font: 24px sans-serif;
  margin-top: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom:1px solid #89AF4C;
  color: #FFF;
  background: #9DC45F;
  text-shadow: 1px 1px 1px #949494;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}

form.ivy label {
  width: 96px;
  display: inline-block;
}

form.ivy input, form.ivy textarea, form.ivy select {
  color: #555;
  width: 168px;
  height: 24px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
}

form.ivy input[type="submit"] {
  background-color: #9DC45F;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-border-radius: 6px;
  border: none;
  padding: 6px 6px 6px 6px;
  color: #FFF;
  text-shadow: 1px 1px 1px #949494;
  width: 65px;
}

form.ivy input[type="submit"]:hover {
  background-color:#80A24A;
}

