/**
 * To achieve a 1-pixel border, style only the bottom and border-right
 * edges. The cells themselves will style the left and top borders.
 */
table.ivy {
  border-collapse: separate;
  white-space: nowrap;
  empty-cells: show;
  border-top: 1px solid rgba( 0, 0, 0, 0 );
  border-left: 1px solid rgba( 0, 0, 0, 0 );
  border-right: 1px solid rgb( 204, 204, 204 );
  border-bottom: 1px solid rgb( 204, 204, 204 );
  background-clip: padding-box;

  /* Cell selection is handled by the app. */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/**
 * Suppress dashed border around focused table.
 */ 
table.ivy tbody {
	outline: none;
}

/**
 * Spreadsheets, traditionally, don't have bold headings.
 */
table.ivy th {
  background-color: rgb( 243, 243, 243 );
  font-weight: normal;
}

/**
 * Give some space around and within all cells.
 */
table.ivy th, table.ivy td {
  margin: 4px;
  padding: 4px;
}

/**
 * All cells have a top-left border and transparent right.
 */
table.ivy th, table.ivy td {
  border-top: 1px solid rgb( 204, 204, 204 );
  border-left: 1px solid rgb( 204, 204, 204 );
  border-right: 1px solid rgba( 0, 0, 0, 0 );
}

/**
* Editable cells have a transparent bottom.
*/
table.ivy td {
  border-bottom: 1px solid rgba( 0, 0, 0, 0 );
}

/**
 * Show items as disabled.
 */
table.ivy .readonly {
  color: gray;
}

/**
 * Override the border settings to ensure the active cell is distinct.
 * Due to the way borders are configured for the left/right/top/bottom per
 * row and individual cell, setting the border for the active cell here
 * ensures that all of its edges appear properly.
 */
table.ivy td.active {
  background-color: rgba( 0, 0, 0, 0.1 );
  border: 1px solid black;
}

/**
 * Glowing pale cerulean blue shadow during editing.
 */
table.ivy td.edit {
  box-shadow: 0 0 4px rgb( 152, 180, 212 );
  border: 1px solid rgb( 152, 180, 212 );
}

/**
 * Make the input field fully transparent and completely borderless.
 */
table.ivy td.active input {
  background-color: rgba( 0, 0, 0, 0 );
  border-width: 0px;
	border: none;
  padding: 0;
  margin: 0;
  line-height: normal;
	font-weight: normal;
	outline: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	overflow: hidden;
}

